---
http_interactions:
- request:
    method: get
    uri: https://mastodon.me.uk/users/Floppy/statuses/113741998973323773
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/activity+json; charset=utf-8
      link:
      - <https://mastodon.me.uk/users/Floppy/statuses/113741998973323773>; rel="alternate";
        type="application/activity+json"
      etag:
      - W/"9686c423902690efc652421e4321b3ce"
    body:
      encoding: UTF-8
      string: '{"@context":["https://www.w3.org/ns/activitystreams",{"ostatus":"http://ostatus.org#","atomUri":"ostatus:atomUri","inReplyToAtomUri":"ostatus:inReplyToAtomUri","conversation":"ostatus:conversation","sensitive":"as:sensitive","toot":"http://joinmastodon.org/ns#","votersCount":"toot:votersCount"}],"id":"https://mastodon.me.uk/users/Floppy/statuses/113741998973323773","type":"Note","summary":null,"inReplyTo":"https://mamot.fr/users/mtancoigne/statuses/113741447018463971","published":"2024-12-30T13:26:09Z","url":"https://mastodon.me.uk/@Floppy/113741998973323773","attributedTo":"https://mastodon.me.uk/users/Floppy","to":["https://www.w3.org/ns/activitystreams#Public"],"cc":["https://mastodon.me.uk/users/Floppy/followers","https://mamot.fr/users/mtancoigne"],"sensitive":false,"atomUri":"https://mastodon.me.uk/users/Floppy/statuses/113741998973323773","inReplyToAtomUri":"https://mamot.fr/users/mtancoigne/statuses/113741447018463971","conversation":"tag:mamot.fr,2024-12-30:objectId=192141654:objectType=Conversation","content":"\u003cp\u003e\u003cspan
        class=\"h-card\" translate=\"no\"\u003e\u003ca href=\"https://mamot.fr/@mtancoigne\"
        class=\"u-url mention\"\u003e@\u003cspan\u003emtancoigne\u003c/span\u003e\u003c/a\u003e\u003c/span\u003e
        certainly! And hello to anyone that reads this in future :)\u003c/p\u003e","contentMap":{"en":"\u003cp\u003e\u003cspan
        class=\"h-card\" translate=\"no\"\u003e\u003ca href=\"https://mamot.fr/@mtancoigne\"
        class=\"u-url mention\"\u003e@\u003cspan\u003emtancoigne\u003c/span\u003e\u003c/a\u003e\u003c/span\u003e
        certainly! And hello to anyone that reads this in future :)\u003c/p\u003e"},"attachment":[],"tag":[{"type":"Mention","href":"https://mamot.fr/users/mtancoigne","name":"@mtancoigne@mamot.fr"}],"replies":{"id":"https://mastodon.me.uk/users/Floppy/statuses/113741998973323773/replies","type":"Collection","first":{"type":"CollectionPage","next":"https://mastodon.me.uk/users/Floppy/statuses/113741998973323773/replies?only_other_accounts=true\u0026page=true","partOf":"https://mastodon.me.uk/users/Floppy/statuses/113741998973323773/replies","items":[]}},"likes":{"id":"https://mastodon.me.uk/users/Floppy/statuses/113741998973323773/likes","type":"Collection","totalItems":0},"shares":{"id":"https://mastodon.me.uk/users/Floppy/statuses/113741998973323773/shares","type":"Collection","totalItems":0}}'
  recorded_at: Mon, 30 Dec 2024 13:51:10 GMT
- request:
    method: get
    uri: https://mamot.fr/users/mtancoigne/statuses/113741447018463971
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/activity+json; charset=utf-8
      link:
      - <https://mamot.fr/users/mtancoigne/statuses/113741447018463971>; rel="alternate";
        type="application/activity+json"
      eta[...]
- request:
    method: get
    uri: https://mamot.fr/users/mtancoigne
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/activity+json; charset=utf-8
      etag:
      - W/"89e8d0e8024a3ea10a0ff4af7e624788"
    body:
      encoding: UTF-8
      string: '{"@context":["https://www.w3.org/ns/activitystreams","https://w3id.org/security/v1",{"manuallyApprovesFollowers":"as:manuallyApprovesFollowers","toot":"http://joinmastodon.org/ns#","featured":{"@id":"toot:featured","@type":"@id"},"featuredTags":{"@id":"toot:featuredTags","@type":"@id"},"alsoKnownAs":{"@id":"as:alsoKnownAs","@type":"@id"},"movedTo":{"@id":"as:movedTo","@type":"@id"},"schema":"http://schema.org#","PropertyValue":"schema:PropertyValue","value":"schema:value","discoverable":"toot:discoverable","suspended":"toot:suspended","memorial":"toot:memorial","indexable":"toot:indexable","attributionDomains":{"@id":"toot:attributionDomains","@type":"@id"},"focalPoint":{"@container":"@list","@id":"toot:focalPoint"}}],"id":"https://mamot.fr/users/mtancoigne","type":"Person","following":"https://mamot.fr/users/mtancoigne/following","followers":"https://mamot.fr/users/mtancoigne/followers","inbox":"https://mamot.fr/users/mtancoigne/inbox","outbox":"https://mamot.fr/users/mtancoigne/outbox","featured":"https://mamot.fr/users/mtancoigne/collections/featured","featuredTags":"https://mamot.fr/users/mtancoigne/collections/tags","preferredUsername":"mtancoigne","name":"Manuel
        Tancoigne","summary":"","url":"https://mamot.fr/@mtancoigne","manuallyApprovesFollowers":false,"discoverable":false,"indexable":false,"published":"2020-02-13T00:00:00Z","memorial":false,"publicKey":{"id":"https://mamot.fr/users/mtancoigne#main-key","owner":"https://mamot.fr/users/mtancoigne","publicKeyPem":"-----BEGIN
        PUBLIC KEY-----\nMIIBIjANBgkqhkiG9w0BAQEFAAOCAQ8AMIIBCgKCAQEAvp/A1RqJN5g6834otu28\nk5M2wI7BAoZEGgl36EbUj3aWdzFDWaCJi2D4ZYdSFRSjAfHwoUGvGPP4nvYoQ1bt\n6Zgy7olRAFacq8GIK1qiT6kmWwowgI6TF2WDcqtXb002itZtIjWiSXupI5smY8C2\nL+1KGbocs8l34B2cmQUFenXfIhBmGFTIGw8vSKR8T3pUGyH/nxk5IVriewx27k8M\nVaglIXxKqb7KJ4XnGPQViRIL7RCdrfgc/rwPRwteztMTKA+XrF4tSyRe1zu9hm+9\nTXq49Ev2jrO8KV6wLj9K+IYnnk7SzVNKZN1iY5i10VVW+tHhpQfbNiIxZtLOwqB5\newIDAQAB\n-----END
        PUBLIC KEY-----\n"},"tag":[],"attachment":[{"type":"PropertyValue","name":"site","value":"\u003ca
        href=\"https://experimentslabs.com\" target=\"_blank\" rel=\"nofollow noopener
        noreferrer me\" translate=\"no\"\u003e\u003cspan class=\"invisible\"\u003ehttps://\u003c/span\u003e\u003cspan
        class=\"\"\u003eexperimentslabs.com\u003c/span\u003e\u003cspan class=\"invisible\"\u003e\u003c/span\u003e\u003c/a\u003e"}],"endpoints":{"sharedInbox":"https://mamot.fr/inbox"},"icon":{"type":"Image","mediaType":"image/png","url":"https://static.mamot.fr/accounts/avatars/000/289/545/original/18c5be972969f5a7.png"},"image":{"type":"Image","mediaType":"image/jpeg","url":"https://static.mamot.fr/accounts/headers/000/289/545/original/ef77868c082f11d7.jpg"}}'
  recorded_at: Mon, 30 Dec 2024 13:51:10 GMT
- request:
    method: get
    uri: https://mastodon.me.uk/users/Floppy
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/activity+json; charset=utf-8
      etag:
      - W/"f8d80eede511c9a2616fe9f49d3ef80e"
    body:
      encoding: UTF-8
      string: "{\"@context\":[\"https://www.w3.org/ns/activitystreams\",\"https://w3id.org/security/v1\",{\"manuallyApprovesFollowers\":\"as:manuallyApprovesFollowers\",\"toot\":\"http://joinmastodon.org/ns#\",\"featured\":{\"@id\":\"toot:featured\",\"@type\":\"@id\"},\"featuredTags\":{\"@id\":\"toot:featuredTags\",\"@type\":\"@id\"},\"alsoKnownAs\":{\"@id\":\"as:alsoKnownAs\",\"@type\":\"@id\"},\"movedTo\":{\"@id\":\"as:movedTo\",\"@type\":\"@id\"},\"schema\":\"http://schema.org#\",\"PropertyValue\":\"schema:PropertyValue\",\"value\":\"schema:value\",\"discoverable\":\"toot:discoverable\",\"suspended\":\"toot:suspended\",\"memorial\":\"toot:memorial\",\"indexable\":\"toot:indexable\",\"attributionDomains\":{\"@id\":\"toot:attributionDomains\",\"@type\":\"@id\"},\"Hashtag\":\"as:Hashtag\",\"focalPoint\":{\"@container\":\"@list\",\"@id\":\"toot:focalPoint\"}}],\"id\":\"https://mastodon.me.uk/users/Floppy\",\"type\":\"Person\",\"following\":\"https://mastodon.me.uk/users/Floppy/following\",\"followers\":\"https://mastodon.me.uk/users/Floppy/followers\",\"inbox\":\"https://mastodon.me.uk/users/Floppy/inbox\",\"outbox\":\"https://mastodon.me.uk/users/Floppy/outbox\",\"featured\":\"https://mastodon.me.uk/users/Floppy/collections/featured\",\"featuredTags\":\"https://mas[...]
