---
http_interactions:
- request:
    method: get
    uri: https://mamot.fr/users/mtancoigne/statuses/113741447018463971
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/activity+json; charset=utf-8
      link:
      - <https://mamot.fr/users/mtancoigne/statuses/113741447018463971>; rel="alternate";
        type="application/activity+json"
      etag:
      - W/"99847142c0a9ac35f130bf03b92bfc2f"
    body:
      encoding: UTF-8
      string: '{"@context":["https://www.w3.org/ns/activitystreams",{"ostatus":"http://ostatus.org#","atomUri":"ostatus:atomUri","inReplyToAtomUri":"ostatus:inReplyToAtomUri","conversation":"ostatus:conversation","sensitive":"as:sensitive","toot":"http://joinmastodon.org/ns#","votersCount":"toot:votersCount"}],"id":"https://mamot.fr/users/mtancoigne/statuses/113741447018463971","type":"Note","summary":null,"inReplyTo":null,"published":"2024-12-30T11:05:47Z","url":"https://mamot.fr/@mtancoigne/113741447018463971","attributedTo":"https://mamot.fr/users/mtancoigne","to":["https://www.w3.org/ns/activitystreams#Public"],"cc":["https://mamot.fr/users/mtancoigne/followers","https://mastodon.me.uk/users/Floppy"],"sensitive":false,"atomUri":"https://mamot.fr/users/mtancoigne/statuses/113741447018463971","inReplyToAtomUri":null,"conversation":"tag:mamot.fr,2024-12-30:objectId=192141654:objectType=Conversation","content":"\u003cp\u003eHello
        \u003cspan class=\"h-card\" translate=\"no\"\u003e\u003ca href=\"https://mastodon.me.uk/@Floppy\"
        class=\"u-url mention\"\u003e@\u003cspan\u003eFloppy\u003c/span\u003e\u003c/a\u003e\u003c/span\u003e
        !\u003c/p\u003e\u003cp\u003eI\u0026#39;m writing a test for Federails and
        I need a federated Note with a reply, and a reply from me to the first reply...
        \u003c/p\u003e\u003cp\u003eAre you OK to reply to this and have the Note and
        replies versioned in the VCR cassettes?\u003c/p\u003e","contentMap":{"en":"\u003cp\u003eHello
        \u003cspan class=\"h-card\" translate=\"no\"\u003e\u003ca href=\"https://mastodon.me.uk/@Floppy\"
        class=\"u-url mention\"\u003e@\u003cspan\u003eFloppy\u003c/span\u003e\u003c/a\u003e\u003c/span\u003e
        !\u003c/p\u003e\u003cp\u003eI\u0026#39;m writing a test for Federails and
        I need a federated Note with a reply, and a reply from me to the first reply...
        \u003c/p\u003e\u003cp\u003eAre you OK to reply to this and have the Note and
        replies versioned in the VCR cassettes?\u003c/p\u003e"},"attachment":[],"tag":[{"type":"Mention","href":"https://mastodon.me.uk/users/Floppy","name":"@Floppy@mastodon.me.uk"}],"replies":{"id":"https://mamot.fr/users/mtancoigne/statuses/113741447018463971/replies","type":"Collection","first":{"type":"CollectionPage","next":"https://mamot.fr/users/mtancoigne/statuses/113741447018463971/replies?only_other_accounts=true\u0026page=true","partOf":"https://mamot.fr/users/mtancoigne/statuses/113741447018463971/replies","items":[]}},"likes":{"id":"https://mamot.fr/users/mtancoigne/statuses/113741447018463971/likes","type":"Collection","totalItems":0},"shares":{"id":"https://mamot.fr/users/mtancoigne/statuses/113741447018463971/shares","type":"Collection","totalItems":0}}'
  recorded_at: Mon, 30 Dec 2024 13:41:34 GMT
- request:
    method: get
    uri: https://mamot.fr/users/mtancoigne
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/activity+json; charset=utf-8
      etag:
      - W/"89e8d0e8024a3ea10a0ff4af7e624788"
    body:
      encoding: UTF-8
      string: '{"@context":["https://www.w3.org/ns/activitystreams","https://w3id.org/security/v1",{"manuallyApprovesFollowers":"as:manuallyApprovesFollowers","toot":"http://joinmastodon.org/ns#","featured":{"@id":"toot:featured","@type":"@id"},"featuredTags":{"@id":"toot:featuredTags","@type":"@id"},"alsoKnownAs":{"@id":"as:alsoKnownAs","@type":"@id"},"movedTo":{"@id":"as:movedTo","@type":"@id"},"schema":"http://schema.org#","PropertyValue":"schema:PropertyValue","value":"schema:value","discoverable":"toot:discoverable","suspended":"toot:suspended","memorial":"toot:memorial","indexable":"toot:indexable","attributionDomains":{"@id":"toot:attributionDomains","@type":"@id"},"focalPoint":{"@container":"@list","@id":"toot:focalPoint"}}],"id":"https://mamot.fr/users/mtancoigne","type":"Person","following":"https://mamot.fr/users/mtancoigne/following","followers":"https://mamot.fr/users/mtancoigne/followers","inbox":"https://mamot.fr/users/mtancoigne/inbox","outbox":"https://mamot.fr/users/mtancoigne/outbox","featured":"https://mamot.fr/users/mtancoigne/collections/featured","featuredTags":"https://mamot.fr/users/mtancoigne/collections/tags","preferredUsername":"mtancoigne","name":"Manuel
        Tancoigne","summary":"","url":"https://mamot.fr/@mtancoigne","manuallyApprovesFollowers":false,"discoverable":false,"indexable":false,"published":"2020-02-13T00:00:00Z","memorial":false,"publicKey":{"id":"https://mamot.fr/users/mtancoigne#main-key","owner":"https://mamot.fr/users/mtancoigne","publicKeyPem":"-----BEGIN
        PUBLIC KEY-----\nMIIBIjANBgkqhkiG9w0BAQEFAAOCAQ8AMIIBCgKCAQEAvp/A1RqJN5g6834otu28\nk5M2wI7BAoZEGgl36EbUj3aWdzFDWaCJi2D4ZYdSFRSjAfHwoUGvGPP4nvYoQ1bt\n6Zgy7olRAFacq8GIK1qiT6kmWwowgI6TF2WDcqtXb002itZtIjWiSXupI5smY8C2\nL+1KGbocs8l34B2cmQUFenXfIhBmGFTIGw8vSKR8T3pUGyH/nxk5IVriewx27k8M\nVaglIXxKqb7KJ4XnGPQViRIL7RCdrfgc/rwPRwteztMTKA+XrF4tSyRe1zu9hm+9\nTXq49Ev2jrO8KV6wLj9K+IYnnk7SzVNKZN1iY5i10VVW+tHhpQfbNiIxZtLOwqB5\newIDAQAB\n-----END
        PUBLIC KEY-----\n"},"tag":[],"attachment":[{"type":"PropertyValue","name":"site","value":"\u003ca
        href=\"https://experimentslabs.com\" target=\"_blank\" rel=\"nofollow noopener
        noreferrer me\" translate=\"no\"\u003e\u003cspan class=\"invisible\"\u003ehttps://\u003c/span\u003e\u003cspan
        class=\"\"\u003eexperimentslabs.com\u003c/span\u003e\u003cspan class=\"invisible\"\u003e\u003c/span\u003e\u003c/a\u003e"}],"endpoints":{"sharedInbox":"https://mamot.fr/inbox"},"icon":{"type":"Image","mediaType":"image/png","url":"https://static.mamot.fr/accounts/avatars/000/289/545/original/18c5be972969f5a7.png"},"image":{"type":"Image","mediaType":"image/jpeg","url":"https://static.mamot.fr/accounts/headers/000/289/545/original/ef77868c082f11d7.jpg"}}'
  recorded_at: Mon, 30 Dec 2024 13:41:34 GMT
recorded_with: VCR 6.2.0
