---
http_interactions:
- request:
    method: get
    uri: http://mamot.fr/.well-known/webfinger?resource=acct%3Asome_inexistant_account%40mamot.fr
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 301
      message: Moved Permanently
    headers:
      content-type:
      - text/html
      location:
      - https://mamot.fr/.well-known/webfinger?resource=acct%3Asome_inexistant_account%40mamot.fr
    body:
      encoding: UTF-8
      string: "<html>\r\n<head><title>301 Moved Permanently</title></head>\r\n<body>\r\n<center><h1>301
        Moved Permanently</h1></center>\r\n<hr><center>nginx/1.18.0</center>\r\n</body>\r\n</html>\r\n"
  recorded_at: Sun, 12 Feb 2023 15:14:21 GMT
- request:
    method: get
    uri: https://mamot.fr/.well-known/webfinger?resource=acct%3Asome_inexistant_account%40mamot.fr
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 404
      message: Not Found
    headers:
      content-type:
      - text/html
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Sun, 12 Feb 2023 15:14:22 GMT
recorded_with: VCR 6.1.0
