---
http_interactions:
- request:
    method: get
    uri: http://mamot.fr/.well-known/webfinger?resource=acct%3Amtancoigne%40mamot.fr
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 301
      message: Moved Permanently
    headers:
      content-type:
      - text/html
      location:
      - https://mamot.fr/.well-known/webfinger?resource=acct%3Amtancoigne%40mamot.fr
    body:
      encoding: UTF-8
      string: "<html>\r\n<head><title>301 Moved Permanently</title></head>\r\n<body>\r\n<center><h1>301
        Moved Permanently</h1></center>\r\n<hr><center>nginx/1.18.0</center>\r\n</body>\r\n</html>\r\n"
  recorded_at: Sun, 12 Feb 2023 15:14:22 GMT
- request:
    method: get
    uri: https://mamot.fr/.well-known/webfinger?resource=acct%3Amtancoigne%40mamot.fr
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/jrd+json; charset=utf-8
      etag:
      - W/"7256095d1507368a0d41207bc6206677"
    body:
      encoding: UTF-8
      string: '{"subject":"acct:mtancoigne@mamot.fr","aliases":["https://mamot.fr/@mtancoigne","https://mamot.fr/users/mtancoigne"],"links":[{"rel":"http://webfinger.net/rel/profile-page","type":"text/html","href":"https://mamot.fr/@mtancoigne"},{"rel":"self","type":"application/activity+json","href":"https://mamot.fr/users/mtancoigne"},{"rel":"http://ostatus.org/schema/1.0/subscribe","template":"https://mamot.fr/authorize_interaction?uri={uri}"}]}'
  recorded_at: Sun, 12 Feb 2023 15:14:22 GMT
recorded_with: VCR 6.1.0
