---
http_interactions:
- request:
    method: get
    uri: https://mamot.fr/users/mtancoigne/following
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/activity+json; charset=utf-8
      etag:
      - W/"0e2e38d93bea4c09ef76ace80a37b6e6"
    body:
      encoding: UTF-8
      string: '{"@context":"https://www.w3.org/ns/activitystreams","id":"https://mamot.fr/users/mtancoigne/following","type":"OrderedCollection","totalItems":19,"first":"https://mamot.fr/users/mtancoigne/following?page=1"}'
  recorded_at: Mon, 24 Nov 2025 13:31:13 GMT
- request:
    method: get
    uri: https://mamot.fr/users/mtancoigne/following?page=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/activity+json; charset=utf-8
      etag:
      - W/"66689983900b7c4141063e185be3f1aa"
    body:
      encoding: UTF-8
      string: '{"@context":"https://www.w3.org/ns/activitystreams","id":"https://mamot.fr/users/mtancoigne/following?page=1","type":"OrderedCollectionPage","totalItems":19,"next":"https://mamot.fr/users/mtancoigne/following?page=2","partOf":"https://mamot.fr/users/mtancoigne/following","orderedItems":["https://mastodon.me.uk/users/Floppy","https://floss.social/users/forgefed","https://mamot.fr/users/LaQuadrature","https://social.technoetic.com/users/steve","https://boitam.eu/users/sunny","https://mastodon.lescommuns.org/users/LesCommunsDAbord","https://fosstodon.org/users/penpot","https://mastodon.online/users/glitchtip","https://chaos.social/users/opensourcegardens","https://mamot.fr/users/neomilium","https://mastodon.art/users/eyeling","https://mamot.fr/users/cerveauxnondisponibles"]}'
  recorded_at: Mon, 24 Nov 2025 13:31:13 GMT
- request:
    method: get
    uri: https://mamot.fr/users/mtancoigne/following?page=2
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/activity+json; charset=utf-8
      etag:
      - W/"19a934544987d4d83297e5f185c97d7a"
    body:
      encoding: UTF-8
      string: '{"@context":"https://www.w3.org/ns/activitystreams","id":"https://mamot.fr/users/mtancoigne/following?page=2","type":"OrderedCollectionPage","totalItems":19,"prev":"https://mamot.fr/users/mtancoigne/following?page=1","partOf":"https://mamot.fr/users/mtancoigne/following","orderedItems":["https://mastodon.social/users/e_mydata","https://ap.experimentslabs.com/fed/actors/1","https://mamot.fr/users/technopolice","https://mamot.fr/users/mfaure","https://mamot.fr/users/pixelhumain","https://mamot.fr/users/smortex","https://mamot.fr/users/admin"]}'
  recorded_at: Mon, 24 Nov 2025 13:31:13 GMT
recorded_with: VCR 6.3.1
