---
http_interactions:
- request:
    method: get
    uri: https://mamot.fr/users/mtancoigne/collections/featured
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/activity+json; charset=utf-8
      etag:
      - W/"0bc545b0181979285d41c67dbd8cf6eb"
    body:
      encoding: UTF-8
      string: '{"@context":"https://www.w3.org/ns/activitystreams","id":"https://mamot.fr/users/mtancoigne/collections/featured","type":"OrderedCollection","totalItems":0,"orderedItems":[]}'
  recorded_at: Mon, 24 Nov 2025 13:35:29 GMT
recorded_with: VCR 6.3.1
