---
http_interactions:
- request:
    method: get
    uri: https://activitypub.academy/users/begusla_laddaciul/followers
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/activity+json; charset=utf-8
      etag:
      - W/"bfe1633ff5d6dc8a072d39ab84e4ad31"
    body:
      encoding: UTF-8
      string: '{"@context":"https://www.w3.org/ns/activitystreams","id":"https://activitypub.academy/users/begusla_laddaciul/followers","type":"OrderedCollection","totalItems":1,"first":"https://activitypub.academy/users/begusla_laddaciul/followers?page=1"}'
  recorded_at: Mon, 24 Nov 2025 14:46:23 GMT
[...]
- request:
    method: get
    uri: https://activitypub.academy/users/begusla_laddaciul/followers?page=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/activity+json; charset=utf-8
      etag:
      - W/"28f533aac907a6fd13beb0a38c77704a"
    body:
      encoding: UTF-8
      string: '{"@context":"https://www.w3.org/ns/activitystreams","id":"https://activitypub.academy/users/begusla_laddaciul/followers?page=1","type":"OrderedCollectionPage","totalItems":1,"partOf":"https://activitypub.academy/users/begusla_laddaciul/followers","orderedItems":["https://3dp.chat/users/manyfold"]}'
  recorded_at: Mon, 24 Nov 2025 14:46:24 GMT
- request:
    method: get
    uri: https://3dp.chat/users/manyfold
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/activity+json; charset=utf-8
      etag:
      - W/"d7456ed937da5e699434cdc582708d3d"
    body:
      encoding: UTF-8
      string: '{"@context":["https://www.w3.org/ns/activitystreams","https://w3id.org/security/v1",{"manuallyApprovesFollowers":"as:manuallyApprovesFollowers","toot":"http://joinmastodon.org/ns#","featured":{"@id":"toot:featured","@type":"@id"},"featuredTags":{"@id":"toot:featuredTags","@type":"@id"},"alsoKnownAs":{"@id":"as:alsoKnownAs","@type":"@id"},"movedTo":{"@id":"as:movedTo","@type":"@id"},"schema":"http://schema.org#","PropertyValue":"schema:PropertyValue","value":"schema:value","discoverable":"toot:discoverable","suspended":"toot:suspended","memorial":"toot:memorial","indexable":"toot:indexable","attributionDomains":{"@id":"toot:attributionDomains","@type":"@id"},"focalPoint":{"@container":"@list","@id":"toot:focalPoint"}}],"id":"https://3dp.chat/users/manyfold","type":"Person","following":"https://3dp.chat/users/manyfold/following","followers":"https://3dp.chat/users/manyfold/followers","inbox":"https://3dp.chat/users/manyfold/inbox","outbox":"https://3dp.chat/users/manyfold/outbox","featured":"https://3dp.chat/users/manyfold/collections/featured","featuredTags":"https://3dp.chat/users/manyfold/collections/tags","preferredUsername":"manyfold","name":"Manyfold","summary":"\u003cp\u003eAn
        open source, self-hosted 3D file asset manager. Follow for announcements and
        tips! \u003c/p\u003e\u003cp\u003eFinancially supported by \u003cspan class=\"h-card\"
        translate=\"no\"\u003e\u003ca href=\"https://social.nlnet.nl/@nlnet\" class=\"u-url
        mention\"\u003e@\u003cspan\u003enlnet\u003c/span\u003e\u003c/a\u003e\u003c/span\u003e,
        \u003cspan class=\"h-card\" translate=\"no\"\u003e\u003ca href=\"https://mastodon.xyz/@NGIZero\"
        class=\"u-url mention\"\u003e@\u003cspan\u003eNGIZero\u003c/span\u003e\u003c/a\u003e\u003c/span\u003e,
        and you!\u003c/p\u003e","url":"https://3dp.chat/@manyfold","manuallyApprovesFollowers":false,"discoverable":true,"indexable":true,"published":"2023-12-06T00:00:00Z","memorial":false,"alsoKnownAs":["https://3dp.chat/users/vandam"],"attributionDomains":["manyfold.app"],"publicKey":{"id":"https://3dp.chat/users/manyfold#main-key","owner":"https://3dp.chat/users/manyfold","publicKeyPem":"-----BEGIN
        PUBLIC KEY-----\nMIIBIjANBgkqhkiG9w0BAQEFAAOCAQ8AMIIBCgKCAQEAmprx/BlZpwzucm6ye0Sn\nIbwvd6XlXADVDVWXz1Lzs4DZ/fntfcYRhAWCpMMQHpPluE2oMDqZ73Kis3yVavkT\nryz4Dtbn124AG1W5rYgvs5IYYZJ4jpFhWbhEdbMXTCP8OjTB5ftS7cU6zLgQ2/ns\ntBdcce0oNI8Jm4lWlXEEmX8j0Go0xLi/5zFWVtIaM7byMpRuHjbG03iJG4YHbIPo\n0+qV8mhK7/g/vdFayhV74jHhodyAPHVBZjSIxkaxilaS2Qcami5kXGa1fheKEHUM\nHYhvz8ltWbiyyc/lWC/L4Vyne5hyc9CLk/fd0VHjDv9HoFYUzCCldG7gUVqBn3sF\nhwIDAQAB\n-----END
        PUBLIC KEY-----\n"},"tag":[],"attachment":[{"type":"PropertyValue","name":"Website","value":"\u003ca
        href=\"https://manyfold.app\" target=\"_blank\" rel=\"nofollow noopener me\"
        translate=\"no\"\u003e\u003cspan class=\"invisible\"\u003ehttps://\u003c/span\u003e\u003cspan
        class=\"\"\u003emanyfold.app\u003c/span\u003e\u003cspan class=\"invisible\"\u003e\u003c/span\u003e\u003c/a\u003e"},{"type":"PropertyValue","name":"Demo","value":"\u003ca
        href=\"https://try.manyfold.app\" target=\"_blank\" rel=\"nofollow n[...]
