---
http_interactions:
- request:
    method: get
    uri: http://mamot.fr/.well-known/nodeinfo
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 301
      message: Moved Permanently
    headers:
      content-type:
      - text/html
      location:
      - https://mamot.fr/.well-known/nodeinfo
    body:
      encoding: UTF-8
      string: "<html>\r\n<head><title>301 Moved Permanently</title></head>\r\n<body>\r\n<center><h1>301
        Moved Permanently</h1></center>\r\n<hr><center>nginx/1.18.0</center>\r\n</body>\r\n</html>\r\n"
  recorded_at: Mon, 19 May 2025 09:18:38 GMT
- request:
    method: get
    uri: https://mamot.fr/.well-known/nodeinfo
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"0ba46d0c7029b95c0679e749c481dbe2"
    body:
      encoding: UTF-8
      string: '{"links":[{"rel":"http://nodeinfo.diaspora.software/ns/schema/2.0","href":"https://mamot.fr/nodeinfo/2.0"}]}'
  recorded_at: Mon, 19 May 2025 09:18:38 GMT
- request:
    method: get
    uri: https://mamot.fr/nodeinfo/2.0
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"c01c90ce8443cfa3a146c4c20473e61f"
    body:
      encoding: UTF-8
      string: '{"version":"2.0","software":{"name":"mastodon","version":"4.3.4"},"protocols":["activitypub"],"services":{"outbound":[],"inbound":[]},"usage":{"users":{"total":40022,"activeMonth":3278,"activeHalfyear":5536},"localPosts":7131666},"openRegistrations":true,"metadata":{"nodeName":"Mamot
        - Le Mastodon de La Quadrature du Net ","nodeDescription":"Mamot.fr est un
        serveur Mastodon francophone, géré par La Quadrature du Net."}}'
  recorded_at: Mon, 19 May 2025 09:18:38 GMT
recorded_with: VCR 6.3.1
